<div id="posts" class="row">
	<div  class="col-10">
		<h1>Edit Post</h1>
		<%= form_for @post do |f| %>
			<p>
				<%= f.label :title , "Title " %>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :content, "Content " %>
				<%= f.text_area :content %>
			</p>	
				<%= f.submit "Update Post" %> 
		<%end%>
	</div>
	<div  class="col-1">
		<a href="https://localhost:3000/posts">Back</a>
	</div>
		
</div>