<!-- <div id="home" class="row">
	<h1 class="container-fluid" style="text-align: center; color: #2196f3; margin-top: 25px; ">
		I'm Tanushree Marwah.
	</h1> 
	<hr>
	<div class="col-5" id="dp" >
		<p class="rounded float-left" > 
			<%#= image_tag("background/sunset.jpg" , width: '250px' , height: '400px') %> 
		</p>
	</div>
	<div class="col-7" id="profile-text">
		<p style="color: black;">
			Welcome to my resume ! <br> Let's start scrolling and learn more about me.
		</p>
	</div>
</div>  -->
<div id="posts" class="row" >
	<!--  <div>
		<p style="margin: 20px; display: block;">
			All the posts will be displayed here !  
		</p>
	</div> -->
	<div class="col"></div>
    <div id="each-post" class="col-7">
    <h1>POSTS</h1>
	  <% @posts.each do |post|  %>
	    <h2><%= link_to post.title, post %></h2>
	    <p><%= post.content %></p>
	    <small>
	    	by <%#= post.user.email %> 	
			at <%= post.created_at %>
		</small>
	    <p><%= link_to "Edit", edit_post_path(post) %> | 
	       <%= link_to "Delete", post ,  :method => :delete %>
	    </p>
	    

	    <div class="post-comments-container " id="each-comment" >
			<h4>Comments</h4>
			<%= form_for @comment, remote: true do |fc| %>
				<input type="hidden" name="comment[parent_type]" value="Post">
				<input type="hidden" name="comment[parent_id]" value="<%= post.id %>">
				
				<%= fc.label :content, "New Comment" %>
				<%= fc.text_field :content %>

				<%= fc.submit %>
			<%end%>
			<ul>
				<% post.comments.reverse.each do |comment| %>
					<%= render 'comments/comment', comment: comment %>
<!-- 
				<p><%#= link_to "Edit", edit_comment_path(comment) %> |
	       			<%#= link_to "Delete", edit_post_path,  :method => :delete %>
	    		</p>	 -->
				<% end %>

			</ul>
		</div>
		<hr>

	 <% end %>  
	
		
	</div>
	<div class="col"></div>
	<p><%= link_to "Add a new Post" , new_post_path %></p>
</div>  